{{ template "base" . }}
{{ define "head" }}{{ end }}
{{ define "main" }}
<div class="section-div">
  <h1 id="photos">{{ if .TagNames }}{{ .TagNames }}{{ else }}latest photos{{ end }}</h1>
  <nav class="photo-filters" aria-label="Photo filters">
    {{ if not .TagNames }}<span aria-current="page">all</span>{{ else }}<a href="/photos">all</a>{{ end }} |
    {{ if eq .TagNames "film" }}<span aria-current="page">film</span>{{ else }}<a href="/tag/film">film</a>{{ end }} |
    {{ if eq .TagNames "digital" }}<span aria-current="page">digital</span>{{ else }}<a href="/tag/digital">digital</a>{{ end }}
  </nav>
  {{ range $i, $image := .ImagesInfo }}
    <div class="image-div">
      <p>{{ .ImageDate }}</p>
      {{ template "image" . }}
      <p>{{ .ImageLocation }}</p>
      <p>{{ .ImageCaption }}</p>
      {{ if .ImageCamera }}
      {{ .ImageCamera }}
      {{ end }}
      {{ if .ImageLens }}
      | {{ .ImageLens }}
      {{ end }}
      {{ if .ImageFilm }}
      | {{ .ImageFilm }}
      {{ end }}
      {{ if .ImageTags }}
        <p>tags:
          {{ range $i, $tag := .ImageTags }}{{ if $i }}, {{ end }}<a href="/tag/{{ .Name | urlquery }}">{{ .Name }}</a>{{ end }}
        </p>
      {{ end }}
      {{ if $.LoggedIn }}<p><a href="{{ .EditImagePath }}">edit</a></p>{{ end }}
    </div>
  {{ end }}
  {{ if .NextURL }}
      <a href="{{ .NextURL }}">next</a>
  {{ else }}
      no more photos
  {{ end }}
</div>
<script type="text/javascript" src="/js/photos.js"></script>
{{ end }}
